@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET in Azure!</h1>
    <p class="lead">This is a simple app that we’ve built that demonstrates how to deploy a .NET app to Azure App Service.</p>
</div>
<div class="col-md-4">
    <asp:FileUpload ID="FileUpload1" runat="server" Width="349px" AllowMultiple="True" />
    <br /><br />
    <asp:Button ID="btnScan" runat="server" Text="Scan" Height="49px" class="btn btn-primary btn-lg" OnClick="btnScan_Click" Width="115px" /><br /><br />
    <asp:Label runat="server" id="StatusLabel" text="Upload status: " />
    <asp:UpdateProgress ID="UpdateProgress1" runat="server"></asp:UpdateProgress>
</div>
<div class="col-md-6">
    <asp:ListBox ID="listBox1" runat="server" Height="250px" Width="602px"></asp:ListBox>
</div>
<div class="col-md-4">
    <asp:Label runat="server" id="lbl_Error" Visible="False" ForeColor="Red" />
</div>